<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
